@import "../breakpoints.scss";
@import "../variables.scss";

.app {
  z-index: 2;
  transform: translateY(0);
  position: relative;
}

.main {
  height: 100vh; //fallback option
  // height: calc(var(--vh, 1vh) * 50);
  background-color: $white;
  margin: auto;
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: left;
    h2 {
      font-size: 3rem;
      line-height: 4.2rem;
      font-weight: 700;
      z-index: 9;
      color: $white;
      mix-blend-mode: difference;
      @include media("<=tablet") {
        font-size: 2.4rem;
        line-height: 3rem;
      }
      @include media("<=phone") {
        margin-top: 72px;
        font-size: 1.7rem;
        line-height: 2.2rem;
      }
      .line {
        margin-bottom: 8px;
        height: 56px;
        position: relative;
        overflow: hidden;
        @include media("<=tablet") {
          height: 48px;
        }
        @include media("<=phone") {
          height: 32px;
        }
        span {
          position: absolute;
        }
      }
    }
    .btnRow {
      width: 256px;
      position: relative;
      z-index: 2;

      .link {
        font-size: 1.6rem;
        color: $black;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-weight: 600;
        @include media("<=tablet") {
          font-size: 1.3rem;
        }

        @include media("<=phone") {
          font-size: 1.1rem;
        }

      
       
      }
    }
  }
}

.container {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;

  @include media("<=1560px") {
    width: 1280px;
    min-width: 1280px;
  }

  @include media("<=desktop") {
    width: 1080px;
    min-width: 1080px;
  }

  @include media("<=1080px") {
    width: 100%;
    min-width: 100%;
  }

  .row {
    display: flex;
    height: 100%;
    padding: 0 32px;

    @include media("<=phone") {
      padding: 0 16px;
    }
  }

  .v-center {
    align-items: center;
  }

  .space-between {
    justify-content: space-between;
  }
}

.container-fluid {
  width: 100%;
  height: 100%;

  .row {
    display: flex;
    height: 100%;
  }
}
