@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap");
@import "./variables.scss";
@import "./breakpoints.scss";
@import "./components/header.module.scss";
@import "./components/banner.module.scss";
@import "./components/cases.module.scss";
// @import "./components/navigation.scss";

body,
html {
  visibility: hidden;
  user-select: none;
  background: $white;
  color: $black;
  overscroll-behavior: none;
  margin: 0;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
